<h2>{{title}}</h2>
<div class="row">
    <div class="col-md-4">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h4>Create a new account.</h4>
            <hr />

            <alert-message [message]="errorMessage"></alert-message>

            <div class="form-group">
                <label for="emial">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email" placeholder="Input your email" />
                <memo-loader [isLoading]="this.isCheckingEmail"></memo-loader>
                <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="invalid">
                    <span *ngIf="registerForm.get('email')['errors']['required']">Input your email</span>
                    <span *ngIf="registerForm.get('email')['errors']['email']">Wrong email address</span>
                    <span *ngIf="registerForm.get('email')['errors']['isUsed']">Email already is used</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Input your password"/>
                <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="invalid">
                  <span *ngIf="registerForm.get('password')['errors']['required']">Input your new password</span>
                  <span *ngIf="registerForm.get('password')['errors']['minlength']">Your password is too short</span>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Repeat yoyr password"/>
                <div *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched" class="invalid">
                  <span *ngIf="registerForm.get('confirmPassword')['errors']['MatchPassword']">Passwords do not match</span>
                </div>
              </div>
            <button type="submit" class="btn btn-outline-secondary" [disabled]="!registerForm.valid">Register</button>
        </form>
        <memo-loader [isLoading]="this.isLoading"></memo-loader>
    </div>
</div>