<mdb-navbar @fade SideClass="navbar navbar-expand-lg navbar-dark indigo">
	<mdb-navbar-brand>
		<a routerLink="/" class="navbar-brand d-flex align-items-center">
			<img src="assets/img/memo.png" alt="" class="img-fluid" object-fit: contain>
			<span>Memorizer</span>
		</a>
	</mdb-navbar-brand>

	<links>
		<!-- Links -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link waves-light" mdbWavesEffect (click)="switchMode()">{{showMode()}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link waves-light" mdbWavesEffect (click)="openAddModal()">Add</a>
			</li>
			<li class="nav-item">
				<a class="nav-link waves-light" mdbWavesEffect (click)="openFindModal()">Find</a>
			</li>
		</ul>
		<div class="dropdown-divider"></div>
		<memo-login-nav></memo-login-nav>
	</links>
</mdb-navbar>

