<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a href="/Home" class="navbar-brand d-flex align-items-center">
			<img src="assets/img/memo.png" alt="" class="img-fluid" object-fit: contain>
			<span>Memorizer</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
			aria-label="Toggle navigation" (click)="isOpenMenu=undefined">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" [class.show]="isOpenMenu">
			<!-- <%if (locals.mode) { %> -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" (click)="switchMode()">{{showMode()}}</a>
				</li>
				<li class="nav-item">
					<!-- <a class="nav-link" href="" data-toggle="modal" data-target="#addModal">Add</a> -->
					<a class="nav-link" (click)="openAddModal()">Add</a>
				</li>
				<li class="nav-item">
					<!-- <a class="nav-link" href="" data-toggle="modal" data-target="#findModal">Find</a> -->
					<a class="nav-link" (click)="openFindModal()">Find</a>
				</li>
			</ul>
			<!-- <% } %> -->
			<div class="dropdown-divider"></div>
			<!-- <%- include partials/login_partial.ejs %> -->
		</div>
	</div>
</nav>