.navbar-brand img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.dropdown-divider {
  border-color: gray;
}

.modal {
  padding-right: 0 !important;
}

::ng-deep a.nav-link,a.navbar-brand {
  cursor: pointer;
}