<div class="modal-header">
	<h5 class="modal-title">Find Memo</h5>
	<button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<alert-message [message]="message"></alert-message>

	<!-- <div *ngIf="!isLoading"> -->
	<mat-form-field class="findInput">
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter...">
	</mat-form-field>

	<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
			<td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>

		<ng-container matColumnDef="question">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
			<td mat-cell *matCellDef="let element;let index=index">
				<editable (update)="updateField(index, element, 'question')">
					<ng-template viewMode>
						{{element.question}}
					</ng-template>
					<ng-template editMode>
						<mat-form-field>
							<input matInput editableOnEnter [formControl]="getControl(index, 'question')">
							<mat-error *ngIf="getControl(index, 'question').hasError('required')">
								Field is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</ng-template>
				</editable>
			</td>
		</ng-container>

		<ng-container matColumnDef="answer">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Answer </th>
			<td mat-cell *matCellDef="let element;let index=index">
				<editable (update)="updateField(index, element, 'answer')">
					<ng-template viewMode>
						{{element.answer}}
					</ng-template>
					<ng-template editMode>
						<mat-form-field>
							<input matInput editableOnEnter [formControl]="getControl(index, 'answer')">
							<mat-error *ngIf="getControl(index, 'answer').hasError('required')">
								Field is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</ng-template>
				</editable>
			</td>
		</ng-container>

		<ng-container matColumnDef="repeatDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Repeat date </th>
			<td mat-cell *matCellDef="let element;let index=index">
				<editable (update)="updateField(index, element, 'repeatDate')">
					<ng-template viewMode>
						{{element.repeatDate | date:'dd.MM.yyyy'}}
					</ng-template>
					<ng-template editMode>
						<mat-form-field>
							<input matInput [matDatepicker]="picker" [formControl]="getControl(index, 'repeatDate')">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<mat-error *ngIf="getControl(index, 'repeatDate').hasError('required')">
								Field is <strong>required</strong>
							</mat-error>
							<mat-error *ngIf="getControl(index, 'postponeLevel').hasError('dateVaidator')">
								Field must be a <strong>Date</strong>
							</mat-error>
						</mat-form-field>
					</ng-template>
				</editable>
			</td>
		</ng-container>

		<ng-container matColumnDef="postponeLevel">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> LVL </th>
			<td mat-cell *matCellDef="let element;let index=index">
				<editable (update)="updateField(index, element, 'postponeLevel')">
					<ng-template viewMode>
						{{element.postponeLevel}}
					</ng-template>
					<ng-template editMode>
						<mat-form-field>
							<mat-select [formControl]="getControl(index, 'postponeLevel')">
								<mat-option *ngFor="let lvl of this.levels" [value]="lvl">
									{{lvl}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="getControl(index, 'postponeLevel').hasError('required')">
								Field is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</ng-template>
				</editable>
			</td>
		</ng-container>

		<ng-container matColumnDef="scores">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Scores </th>
			<td mat-cell *matCellDef="let element;let index=index">
				<editable (update)="updateField(index, element, 'scores')">
					<ng-template viewMode>
						{{element.scores}}
					</ng-template>
					<ng-template editMode>
						<mat-form-field>
							<input type="number" matInput editableOnEnter [formControl]="getControl(index, 'scores')">
							<mat-error *ngIf="getControl(index, 'scores').hasError('required')">
								Field is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</ng-template>
				</editable>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<!-- </div> -->

	<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
		[ngStyle]="{'visibility':isLoading ? 'hidden' : 'visible'}">
	</mat-paginator>

	<memo-big-loader *ngIf="isLoading"></memo-big-loader>
</div>