<div class="modal-header">
	<h5 class="modal-title">Find Memo</h5>
	<button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">

	<memo-big-loader *ngIf="isLoading"></memo-big-loader>

	<div *ngIf="!isLoading">
		<mat-form-field class="findInput">
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter...">
		</mat-form-field>

		<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<ng-container matColumnDef="question">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
				<td mat-cell *matCellDef="let element;let index=index">
					<editable (update)="updateField(index, element, 'question')">
						<ng-template viewMode>
							{{element.question}}
						</ng-template>
						<ng-template editMode>
							<mat-form-field>
								<input matInput editableOnEnter [formControl]="getControl(index, 'question')">
								<mat-error *ngIf="getControl(index, 'question').hasError('required')">
									Field is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</ng-template>
					</editable>
				</td>
			</ng-container>

			<ng-container matColumnDef="answer">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Answer </th>
				<td mat-cell *matCellDef="let element"> {{element.answer}} </td>
			</ng-container>

			<ng-container matColumnDef="repeatDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Repeat date </th>
				<td mat-cell *matCellDef="let element">
					<mat-form-field>
						<input matInput [matDatepicker]="picker" [(ngModel)]="element.repeatDate">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</td>
			</ng-container>

			<ng-container matColumnDef="postponeLevel">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> LVL </th>
				<td mat-cell *matCellDef="let element"> {{element.postponeLevel}} </td>
			</ng-container>

			<ng-container matColumnDef="scores">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Scores </th>
				<td mat-cell *matCellDef="let element"> {{element.scores}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
		[ngStyle]="{'visibility':isLoading ? 'hidden' : 'visible'}">
	</mat-paginator>
</div>