textarea {
  height: 200px;
  text-align: center;
  font-weight: bold;
  resize: none;
}

.answer-group {
  button {
    padding: 15px 20px;
  }
}

.fa-exchange {
  transform: rotate(90deg);
}

.summary {
  margin: 0.25em auto;
}

.update-group {
  button {
    margin: auto 0;
  }

  &:hover {
    visibility: visible;
  }
}
