<alert-message [message]="message"></alert-message>

<div class="row">
	<div class="summary">
		<span>Level: {{currentMemo ? currentMemo.postponeLevel : 0}}, </span>
		<span>Scores: {{currentMemo ? currentMemo.scores : 0}} </span>
	</div>
</div>

<textarea class="col-12" [ngModel]="currentMemo?.question" (ngModelChange)="currentMemo.question=$event"
	(focus)="showUpdateGroup(true)" (blur)="showUpdateGroup(false)"></textarea>

<div class="row justify-content-around my-2 text-nowrap">
	<div class="col-3 d-flex justify-content-center align-items-center">
		<span>Overall: {{count}}</span>
	</div>
	<div class="col-3 d-flex justify-content-center">
		<button (click)="showAnswer()" class="btn btn-primary p-3" type="button">Show</button>
	</div>
	<div class="col-3 d-flex justify-content-center update-group">
		<div class="btn-group" *ngIf="isShowUpdateGroup || isFocused" (mouseenter)="isFocused=true"
			(mouseleave)="isFocused=false">
			<button class="btn btn-outline-secondary" (click)="replaceMemos()" type="button">
				<i class="fa fa-exchange"></i>
			</button>
			<button class="btn btn-outline-primary" (click)="updateMemo()" type="button">
				<i class="far fa-save"></i>
			</button>
		</div>
		<button class="btn btn-outline-danger" type="button" (click)="deleteMemo()">
			<i class="fas fa-trash-alt"></i>
		</button>
	</div>
</div>

<div @fade *ngIf="isShowAnswer">
	<textarea class="col-12" (focus)="showUpdateGroup(true)" (blur)="showUpdateGroup(false)"
		[ngModel]="currentMemo?.answer" (ngModelChange)="currentMemo.answer=$event"></textarea>

	<div class="row">
		<div class="mx-auto my-2">
			<div class="answer-group btn-group">
				<button *ngIf="mode == 'Repeat'" class="btn btn-danger" (click)="submitAnswer('Bad')">Bad</button>
				<button *ngIf="mode == 'Repeat'" class="btn btn-warning" (click)="submitAnswer('Tomorrow')">Tomorrow</button>
				<button class="btn btn-primary" (click)="submitAnswer('Later')">Later</button>
				<button class="btn btn-success" (click)="submitAnswer('Cool')">Cool</button>
			</div>
		</div>
	</div>
</div>

<memo-loader [isLoading]="isLoading"></memo-loader>