<div id="messageBox" class="message-box alert" 
	*ngIf="isShowMessage" (click-outside)="hideMessage()"
	[ngClass]='isSuccess ? "alert-success" : "alert-danger"'> 
	<span id="message">{{message}}</span>
	<button type="button" class="close" (click)="hideMessage()">
		<span>×</span>
	</button>
</div>

<div class="row">
	<div class="summary">
		<span>Level: {{currentMemo ? currentMemo.postponeLevel : 0}}, </span>
		<span>Scores: {{currentMemo ? currentMemo.scores : 0}} </span>
	</div>
</div>

<textarea class="col-12" id="questionArea" (focus)="showUpdateGgroup(true)"
	(blur)="showUpdateGgroup(false)">{{currentMemo?.question}}</textarea>

<div class="row justify-content-around my-2 text-nowrap">
	<div class="col-3 d-flex justify-content-center align-items-center">
		<span>Overall: {{count}}</span>
	</div>
	<div class="col-3 d-flex justify-content-center">
		<button (click)="showAnswer()" class="btn btn-primary p-3" id="showAnswer" type="button">Show</button>
	</div>
	<div class="col-3 d-flex justify-content-center update-group" [class.is-visible]="isShowUpdateGroup">
		<div class="btn-group">
			<button class="btn btn-outline-secondary" (click)="replaceMemos()" type="button">
				<i class="fa fa-exchange"></i>
			</button>
			<button class="btn btn-outline-primary" (click)="updateMemos()" type="button">
				<i class="far fa-save"></i>
			</button>
		</div>
	</div>
</div>

<textarea class="col-12" (focus)="showUpdateGgroup(true)"
	(blur)="showUpdateGgroup(false)">{{isShowAnswer ? currentMemo?.answer : ''}}</textarea>

<div *ngIf="isShowAnswer">
	<div class="row">
		<div class="mx-auto my-2">
			<!-- <form id="answerForm" method="post"> -->
			<div class="answer-group btn-group">
				<!-- <%if (mode == "Repeat") { %> -->
				<button class="btn btn-danger" (click)="submitAnswer('Bad')">Bad</button>
				<button class="btn btn-warning" (click)="submitAnswer('Tomorrow')">Tomorrow</button>
				<!-- <% } %> -->
				<button class="btn btn-primary" (click)="submitAnswer('Later')">Later</button>
				<button class="btn btn-success" (click)="submitAnswer('Cool')">Cool</button>
			</div>
			<!-- </form> -->
		</div>
	</div>
</div>

<div *ngIf="isLoading" class="row">
	<div class="mx-auto">
		<div class="lds-ellipsis">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>

<div class="modal fade" id="finishModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Finished</h5>
				<a href="#" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</a>
			</div>
			<div class="modal-body">
				<p>There is nothing to <span id="finishMessage"></span> more!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>