textarea {
  height: 200px;
  text-align: center;
  font-weight: bold;
  resize: none;
}

.answer-group {
  button {
    padding: 15px 20px;
  }
}

div > fa[name="exchange"] {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: red;
}

button {
  padding: 50px;
}

.summary {
  margin: 0.25em auto;
}

.update-group {
  button {
    margin: auto 0;
  }

  &:hover {
    visibility: visible;
  }
}
